.search-container {
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    align-items: center; /* Center the search bar vertically */
    margin: 20px 0; /* Add some margin for spacing */
}

.search-input {
    padding: 10px 20px; /* Add padding for a comfortable size */
    border: 1px solid #87CEEB; /* Sky blue border */
    border-radius: 20px 0 0 20px; /* Rounded corners for the left side */
    outline: none; /* Remove default outline */
    font-size: 16px; /* Larger font size */
    color: #000; /* Black text */
    background-color: #fff; /* White background */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    width: 700px; /* Make the search input longer */
}

.search-input:focus {
    border-color: #4682B4; /* Darker blue border on focus */
}

.search-button {
    padding: 10px 20px; /* Add padding for a comfortable size */
    background-color: #87CEEB; /* Sky blue background */
    color: #fff; /* White text */
    border: 1px solid #87CEEB; /* Sky blue border */
    border-left: none; /* Remove border between input and button */
    border-radius: 0 20px 20px 0; /* Rounded corners for the right side */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Larger font size */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.search-button:hover {
    background-color: #4682B4; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.search-button:active {
    background-color: #1E90FF; /* Different blue when the button is pressed */
    transform: scale(0.95); /* Slightly shrink the button on click */
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer; /* Optional: Add cursor pointer to indicate clickable */
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .gallery-image:hover {
    transform: scale(1.1);
  }
  
  .lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  