<div class="welcome-div">
    <div class="welcome-message">
        <h1 class="welcome-title">Welcome to The Great Memetorium!</h1>
        <p class="welcome-text">Looking for a meme? You've hit the meme jackpot!</p>
        <p class="welcome-text">Memetorium is your ultimate meme vault. Upload your hilarious creations, explore the meme universe, and share the laughs with everyone.</p>
        <p class="welcome-text">Tired of losing your precious memes right when you need them the most? Fear not! At Memetorium, we’re waging a heroic battle against the menace of lost memes. Upload your memes and we’ll give you a unique ID to retrieve them anytime, anywhere!</p>
        <p class="welcome-text">Join the fun, save yhour favorites, and never lose a meme again!</p>
        <div class="view-memes-container">
        <button class="view-memes-button" [routerLink]="'/view'">View Memes here</button>
        </div>          
    </div>
</div>
<div class="upload-container">
    <form class="upload-form" (submit)="submitForm($event)">
        <div class="form-group">
            <label for="upload-input" class="upload-label">Drop your photo/video here:</label>
            <input type="file" id="upload-input" class="upload-input" accept="image/*,video/*" name="file">
        </div>
        <div class="form-group">
            <label for="meme-tags" class="tags-label">Meme Tags:</label>
            <input type="text" id="meme-tags" name="tags" class="tags-input" placeholder="Enter tags">
            <div class="tags-container">
                <div class="tags">
                    What are tags?
                </div>
                <div class="tagdropdwn">
                    Meme tags help you categorize and recall your memes easily.
                </div>
            </div>
</div>            
        <button type="submit" class="upload-button">Upload</button>
    </form>
</div>


