.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-input {
    padding: 10px 20px;
    border: 1px solid #87CEEB;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    transition: border-color 0.3s ease;
    width: 700px;
  }
  
  .search-input:focus {
    border-color: #4682B4;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #87CEEB;
    color: #fff;
    border: 1px solid #87CEEB;
    border-left: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #4682B4;
    transform: scale(1.05);
  }
  
  .search-button:active {
    background-color: #1E90FF;
    transform: scale(0.95);
  }
  
  .meme-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .meme-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .meme-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .meme-item div {
    margin-bottom: 10px;
  }
  
  .meme-item span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  